<h3 id="success" class="hidden">Submitted!</h3>
<form id="trade-form">
  <div class="grid">
    <fieldset id="my-fieldset" class="trade-set">
      <legend>Select your items to offer</legend>
      <a class="my-a"><h1 class="my-user"></h1></a>
      <section class="my-item-list"></section>
    </fieldset>
    <fieldset class="trade-set">
      <legend>Select desired items</legend> 
      <a class="their-a"><h1 class="their-user"></h1></a>
      <section class="their-item-list"></section>
    </fieldset>
  </div>
  <div id="trade-buttons">
    <button id="reject" class="orange-button hidden" type="submit">Reject</button>
    <button id="offer" class="orange-button" type="submit">Offer</button>
    <button id="counter" class="orange-button hidden" type="submit">Counter</button>
  </div>
</form>