#success {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 15rem;
  transform: translateX(-50%);
  color: rgb(214,80,62);
  font-size: 3rem;
  text-align: center;
  z-index: 100;
}

#trade-form {
  width: 96%;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 1fr auto;
  .grid {
    height: 80vh;
    display: grid;
    grid-gap: .4rem;
    grid-template-columns: 1fr 1fr;
  }
}

#trade-buttons {
  display: flex;
  position: absolute;
  bottom: 1rem;
  width: 90%;
  left: 50%;
  justify-content: space-between;
  align-items: baseline;
  transform: translate(-50%);
  #reject, 
  #offer,
  #counter {
    /* display: block; */
  }
  #reject {
    flex-grow: 1;
  }
  #offer {
    flex-grow:2;
    background: green;
  }
  #counter {
    flex-grow:1;
  }
  button {
    margin-right: .5rem;
    font-size: 1rem;
    &:last-child {
      margin-right: inherit;
    }
  }
}

.trade-set {
  max-height: 100%;
  overflow-y: scroll;
}

@media (min-width:600px) {
  #trade-form {
    margin-top: 5rem;
    height: 68vh;
  }
}