#success {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 15rem;
  transform: translateX(-50%);
  color: rgb(214,80,62);
  font-size: 3rem;
  text-align: center;
  z-index: 100;
}

#trade-form {
  height: 85vh;
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
}

.trade-set {
  max-height: 92%;
  overflow-y: scroll;
}