@import '../../variables.css';

.box {
  position: relative;
  .trade-check {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .trade-check:checked ~ img {
    border: solid 5px $action-red;
  }
}