<form id="item-detail">
  <section class="images"></section>

  <div id="details">
    <p id="owner">Owner<br><a id="detail-owner"></a></p>
    
    <div>
      <label for="title" class="details-box">Title</label><br>
      <input id="detail-title" required name="title" readonly>
    </div>
    
  
    <div>
      <label for="description" class="details-box">Description</label><br>
      <input id="detail-description" name="description" contenteditable="true" readonly>
    </div>

    <div>
      <label for="wishlist" class="details-box">Wishlist</label><br>
      <input id="detail-wishlist" name="wishlist" readonly>
    </div>
    
    <div>
    <label for="category-assign" class="details-box">Category</label><br>
    <select name="category" id="category-assign" disabled>
      <option value="">All</option>
      <option value="Toys">Toys</option>
      <option value="Pets">Pets</option>
      <option value="Vehicles">Vehicles</option>
      <option value="Electronics">Electronics</option>
    </select>
    </div>    
  </div>
  <div id="submit-buttons" class="hidden flex">
    <button type="button" class="cancel orange-button">Cancel</button>
    <button type="submit" class="save orange-button">Save</button>
    <button type="button" class="remove orange-button">Delete</button>
  </div>
      
</form>

  <div id="item-page-buttons">
    <button type="button" class="trade footer-button orange-button">Trade</button>
    <button type="button" class="edit hidden footer-button orange-button">Edit</button>
  </div>