#item-detail {
  border-radius: 5px;
  width: 100%;
  background: $form-focus;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% auto;
  padding: 5% 3%;
  color: $dark;
  text-align: center;
  .images {
    width: 100%;
    margin: auto;
    img {
      margin: auto;
    }
  }
}

/* .images {
  width: 100%;
  position: absolute;
  left: 0;

} */
