<form id="item-detail">
  <div>
    <label for="title" class="clip">Title</label>
    <input id="detail-title" required name="title" readonly>
  </div>

  <p>Owner:<span id="detail-owner"></span></p>

  <ul id="images"></ul>

  <div id="image-upload">
    <label for="image-upload">Add Images:</label>
    <input name="image-upload" type="file" accept="image/*" capture="camera"/>
  </div>

  <div>
    <label for="description">Description</label>
    <input id="detail-description" required name="description" readonly>
  </div>

  <div>
    <label id="detail-whishlist" for="whishlist">Whishlist</label>
    <input required name="whishlist" readonly>
  </div>

  <label for="category-assign">Category</label>
  <select name="category-assign" id="category-assign">
    <option value="">Choose category</option>
    <option value="Toys">Toys</option>
    <option value="Pets">Pets</option>
    <option value="Vehicles">Vehicles</option>
    <option value="Electronics">Electronics</option>
  </select>

  <label id="submit-button">
    <button type="submit">Add</button>
    <button type="button">Cancel</button>
    <button type="button">Delete</button>
  </label>
</form>

<div id="item-page-buttons">
  <button type="button">Trade</button>
  <button type="button">Edit</button>
</div>