@import '../../variables.css';


#item-detail {
  width: 90%;
  margin: 15% auto;
  padding: 4% 3%;
  display: grid;
  grid-template-columns: 3fr 2fr; 
  grid-gap: 3%;
  background: $form-focus;
  border-radius: 5px;
}

#details {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $dark;
  .images {
    width: 100%;
    margin: auto;
  }
  input {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  select {
    font-size: 1rem;
  }
}

.flex { display: flex;}

.images { width: 100%; justify-self: end;}

#owner { 
  margin: 0; 
  padding: 0;
  a {
    color: $base-dark;
    &:hover {
      color: $action-red
    }
  }
 }

#submit-buttons { 
  position: fixed;
  bottom: 1rem;
  width: 90%;
  left: 50%;
  justify-content: center;
  align-items: baseline;
  transform: translate(-50%);
  .save, 
  .cancel,
  .remove {
    max-width: 700px;
  }
  .cancel {
    flex-grow: 1;
  }
  .save {
    flex-grow: 2;
  }
  .remove {
    flex-grow: 1;
  }
  button {
    margin-right: .5rem;
    font-size: 1rem;
    padding: .5rem;
    &:last-child {
      margin-right: inherit;
    }
  }
}
@media (min-width: 600px) {
  #submit-buttons button {
    font-size: 2em;
  }
}


@media (max-width: 600px) {
  #item-detail { 
    grid-template-columns: 1fr; 
  }

  #details {
    width: 50%;
    align-items: flex-start;
    padding-top: 1rem; 
  }
}

