@import '../variables.css';

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-rows: auto 1fr;
  hyphens: auto;
}

ul {
  list-style: none;
}

#header { grid-area: header; } 
#main { grid-area: main; } 

main {
  width: 100%;
  margin: 0 auto;
  .footer-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin: 0 auto;
    
    z-index: 100;
    background: $action-red;
  }
}

.hidden {
  display: none;
}

@media (min-width:600px) {

  main {
    margin-top: 4rem;
  }

}