@import '../variables.css';

#root {
  height: 100vh;
  /* display: grid;
  grid-template-areas:
  "header"
  "main";
  grid-template-rows: auto 1fr; */
  hyphens: auto;
}

ul {
  list-style: none;
}

#header { grid-area: header; } 
#main { grid-area: main; } 

main {
  width: 100%;
  margin: 0 auto;

  .footer-button {
    position: fixed;
    bottom: 2%;
    width: 90%;
    height: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  
  .orange-button {
    background: rgb(214,80,62);
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px rgba(35,5,5,.3);
    font-size: 1.6rem;
    color: $base-white;
    text-transform: uppercase;
    a {
      color: $base-white;
    }
  }

}

.hidden {
  display: none;
}


@media (min-width: 450px) {
  main {
    .footer-button {width: 50%;}
  }  
}

@media (min-width:600px) {

  main {
    margin-top: 4rem;
    .footer-button {width: 40%;}
  }
}

@media (min-width:850px) {

  main {
    .footer-button {width: 25%;}
  }
}