
header {
  /* position: relative; */
  a {
    position: relative;
    span {
      position: absolute;
      z-index: 3;
      display: block;
      background: red;
      left: 4rem;
      &:nth-child(1) {
        transform: translate(6.2rem,-.7rem) rotate(45deg);
        width: 2rem;
        height: .3rem;
      }
      &:nth-child(2) {
        /* transform: translate(0, 30px); */
        width: 8rem;
        height: .3rem;
      }
      &:nth-child(3) {
        transform: translate(-.2rem, 1.2rem) rotate(225deg);
        width: 2rem;
        height: .3rem;
      }
      &:nth-child(4) {
        transform: translate(0, .5rem);
        width: 8rem;
        height: .3rem;
      }
    }
  }
}
