<form id="add-item">
  <div class="image-upload">
    <label for="image-upload">Upload an image:</label>
    <input name="image-upload" type="file" accept="image/*" capture="camera" required/>
  </div>

  <div class="add-label">
      <label for="title">Title</label>
      <input required name="title">
  </div>

  <label id="submit-button">
    <button class="orange-button" type="submit">Add</button>
    <button class="orange-button" type="button">Cancel</button>
  </label>

  <p class="error"></p>
</form>