@import '../../variables.css';

#add-item, .image-upload, .add-label > input, label > button {
    border-radius: 5px;
}

#add-item {
  width: 100%;
  background: $form-focus;

}


#add-item, .image-upload, .add-label, #submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-item {
  margin: 2% auto;
  padding: 5% 3%;
  color: $dark;
}

.image-upload {padding-bottom: 5%;}

.image-upload > input {
  background: $form-focus;
  height: 2rem;
  margin-top: .9rem;
}

/* .item-image > img {width: 50%} */

.add-label {margin-top: .8rem;}

.add-label > input {
  /* width: 100%; */
  height: 1.5rem;
  display: block;
  margin-top: .5rem;
  border: none;
}

#submit-button { 
  width: 100%; 
  margin-top: 3rem;


}

label > button {
  height: 3rem;
  width: 50%;
  margin-top: .5rem;
}


