@import '../../variables.css';

header {
  background: $base-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 1rem;
  }
  .user-nav {
    padding-right: .5rem;
    h3 {
      font-size: .6em;
      text-align: right;
    }

    a {
      color: $base-dark;
    }
    a:hover {
      color: $action-red;
    }
    .header-buttons {
      text-align: right;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      .sign-out {margin-bottom: 10px;}
    }
  }
  #logo {
    img {
      display: block;
      min-width: 100px;
      width: 100px;
    }
  }
  #category-nav {
    z-index:100;
    position: absolute;
    width: 100%;
    background: $base-white;
    font-size: .7rem;
    top: 2rem;
    padding: .5rem;

    ul {
      display: flex;
      justify-content: space-around;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $base-dark;
        &:hover {
          color: $action-red;
        }
      }
    }
  }
  #category-accordian span {
    transition: all .5s ease-out;
  }
  .clicked {
    transform: rotate(-90deg);
    transition: all .5s ease-out;
  }
  .hide {
    opacity: 0;
    animation: climbNav .5s ease-in;
    animation-fill-mode: forwards;
  }
  .show {
    animation: dropNav .5s ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes dropNav {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 155%);
  }
}

@keyframes climbNav {
  0% {
    opacity: 1;
    transform: translate(0, 155%);
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translate(0, -200%);
  }
}

@media (min-width:600px) {
  header {
    #category-accordian {
      display: none;
    }

    #logo {padding-left: 3rem;}

    .user-nav {padding-right: 3rem;}

    .hide {
      opacity: 1;
      transform: translate(0, 130%);   
      animation: none;   
    }
    #category-nav {
      background: $base-white;
      /* width: 70%; */
    }

    #category-nav {
      background: $base-white;
      top: 1rem;
      ul {
        a {
          font-size: 2em;
        }
      }
    }
  }
}

@media (min-width: 400px) {
  header .user-nav h3 {
    font-size: 1em;
  }
}