@import '../../variables.css';

header {
  background: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    display: block;
    width: 30%;
    max-width: 150px;
  }
}