@import '../variables.css';

h1, p, #list-view {
  /* background: $base-white; */
  padding: 0 2%;
  /* border-radius: 1.5rem; */
}

#list-view {
  margin-bottom: 15%;
}

h1 {
  margin: 4% auto 0;
}

@media (min-width: 450px) {
  h1, p, #list-view {padding: 0 6%}
}

@media (min-width:900px) {
  h1, p, #list-view {padding: 0 10%}
}

