$light-gray: #EDEDED;
$light-red: #F5E6E6;
$red: #D64F3E;
$dark-gray: #211717;
$darkest-gray: #0C0101;
$white: #FCFCFC;

$header-font: 'Open Sans', sans-serif;
$content-padding: .5rem 1rem;


/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
$minFontVal: 18;
$maxFontVal: 24;
$minViewportVal: 480;
$maxViewportVal: 1400;

$minFontSize: $(minFontVal)px;
$maxFontSize: $(maxFontVal)px;
$minViewportSize: $(minViewportVal)px;
$maxViewportSize: $(maxViewportVal)px;

$fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));