@import '../../variables.css';


.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 300px;
  h2 {
    align-self: center;
    font-size: 1rem;
  }
  /* whenever you add a :hover cue, make sure your touch screen audience still understands what the interface does */
  &:hover {
    h2.caption {
      color: $action-red;
    }
  }
  h2.caption {
    color: $base-dark;
  }
}

