@import '../variables.css';

#trades-view {
  display: block;
  margin: 0 auto;
  width: 90%;
  span {
    display: inline-block;
  }
  img {
    width: 2.5rem;
    display: inline-block;
    vertical-align: bottom;
  }
  a {
    color: $base-dark;
    &:hover {
      color: $action-red;
    }
  }
}