.item-image {
  position: relative;
  max-width: 400px;
  margin: .5rem auto;
  .x {
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,.6);
  }
}

